.masthead{
	position: relative;
	.outer {
		position: absolute;
		top:0;
		left:0;
		z-index: 2;
		height:100%;
		width:100%;
		display: table;
	}	
	.inner {
		display: table-cell;
		vertical-align: middle;
	}	
}


@media screen and ( min-height: 300px ){
    .masthead {
		height:300px;
	}
}

@media screen and ( min-height: 768px ){
    .masthead {
		height:400px;
	}
}

@media screen and ( min-height: 1080px ){
    .masthead {
		height:500px;
	}
}